{% extends "base.html" %}

{% block title %}
Log in
{% endblock title %}

{% block content %}  
<div>
      <div class="flex items-center justify-center min-h-screen bg-gray-100">
        <form
          action="submit"
          method="post"
          class="w-full max-w-md bg-white p-8 rounded-xl shadow-lg space-y-6"
        >
          <h2 class="text-2xl font-bold text-center text-pink-500">
            Log In
          </h2>

          <div>
            <label class="block mb-1">Email address</label>
            <input
              type="email"
              name="email"
              class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-pink-500"
              placeholder="Enter your email"
            />
          </div>

          <div>
            <label class="block mb-1">Password</label>
            <input
              type="password"
              name="password"
              class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-pink-500"
              placeholder="Enter your password"
            />
          </div>

          <button
            type="submit"
            class="w-full bg-pink-500 text-white font-semibold py-2 rounded-lg hover:bg-pink-300 transition"
          >
            Log in
          </button>

          <p class="text-sm text-center text-gray-500">
            Don't have an account?
            <a href="/signup" class="text-pink-500 hover:underline">
              Sign up
            </a>
          </p>
        </form>
      </div>
    </div>

{% endblock content %}