{% extends 'base.html' %}

{% block content %}
<div class="max-w-md mx-auto py-12 px-4">
    <h2 class="text-3xl font-bold mb-6 text-center">Subscribe to our newsletter</h2>
    {% if messages %}
    <div class="mb-4">
        {% for message in messages %}
        <div class="bg-pink-100 text-pink-600 border border-pink-200 px-4 py-3 rounded relative" role="alert">
            <span class="block sm:inline">{{ message }}</span>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <form method="post" action="{% url 'subscribe' %}" class="space-y-4">
     {% csrf_token %}
        <div>
            <label for="email" class="block text-sm font-medium text-gray-700">Email address</label>
            <input type="email" id="email" name="email" required
            class="mt-1 block w-full px-4 py-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-pink-500 focus:border-pink-500">
        </div>  
        <button type="submit" class="w-full bg-pink-500 text-white py-3 rounded-md shadow-sm hover:bg-pink-300 focus:outline-none focus:ring focus:ring-pink-300 focus:ring-opacity-50">
            Subscribe
        </button>
    </form> 
</div>
{% endblock %}